/* Evitar resaltado azul en móviles */
*{
-webkit-tap-highlight-color: transparent;
outline: none;
user-select: none;
}

/* Centrar todo el contenido */
.container{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:100%;
}

/* Mesa */
.table{
width:90%;
max-width:360px;
left:50%;
transform:translateX(-50%);
}

.table::before{
width:80px;
height:1000px;
left:50%;
transform:translateX(-50%);
}

.table::after{
width:80px;
height:1000px;
left:50%;
transform:translateX(-50%);
}

/* Mensaje */
.happy{
font-size:32px;
text-align:center;
left:50%;
transform:translateX(-50%);
width:90%;
}

/* Fotos */
.photo-frame{
transform:scale(0.7);
left:50%;
transform-origin:center;
translate:-50%;
}

.photo-frame2{
transform:scale(0.7);
left:50%;
translate:-50%;
}

/* Pastel */
.cake{
transform:scale(0.7);
left:50%;
translate:-50%;
}

/* Regalo */
.gift-wrapper{
transform:scale(0.7);
left:50%;
translate:-50%;
}

/* Velas */
.candle{
transform:scale(0.7);
left:50%;
translate:-50%;
}

.candle-flame{
left:50%;
translate:-50%;
}

/* Carta */
.carta{
transform:scale(0.85);
margin:auto;
width:90%;
max-width:350px;
text-align:center;
}

/* Pantallas pequeñas */
@media (max-width:400px){

.happy{
font-size:26px;
}

.photo-frame,
.photo-frame2,
.cake,
.gift-wrapper{
transform:scale(0.6);
}

.carta{
transform:scale(0.75);
}

}
