/*Evitamos el Resaltado Azul de los Moviles*/
* {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* MESA */
.table{
  width: 85%;
  max-width: 300px;
  left: 50%;
  transform: translateX(-50%);
}

.table::before {
  width: 90px;
  height: 900px;
  left: 50%;
  transform: translateX(-50%);
  top: 18px;
}

.table::after {
  width: 85px;
  height: 900px;
  left: 50%;
  transform: translateX(-50%);
  top: 18px;
}

/* MENSAJE */
.happy{
  position: absolute;
  top: -95%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%;
  font-size: 28px;
}

/* OBJETOS DE LA MESA */

/* Foto */
.photo-frame {
  left: 50%;
  transform: translateX(-150%) scale(0.55);
  bottom: -12px;
}

/* Pastel */
.cake{
  left: 50%;
  transform: translateX(-50%) scale(0.60);
  bottom: -15px;
}

/* Regalo */
.caja {
  left: 50%;
  transform: translateX(50%) scale(0.55);
  bottom: -18px;
}

/* Vela */
.candle {
  left: 50%;
  transform: translateX(-50%) scale(0.6);
  bottom: 70px;
}

.candle-flame{
  left: 50%;
  transform: translateX(-50%);
  bottom: 120px;
}

/* Carta */
.carta {
  animation: none;
  transform: scale(0.8);
  transform-origin: center center;
  margin: 0 auto;
}

/* Pantallas pequeñas */
@media only screen and (max-width: 400px) {

  .happy{
    font-size: 24px;
  }

  .photo-frame {
    transform: translateX(-155%) scale(0.5);
  }

  .cake{
    transform: translateX(-50%) scale(0.55);
  }

  .caja {
    transform: translateX(55%) scale(0.5);
  }

  .candle {
    transform: translateX(-50%) scale(0.55);
    bottom: 60px;
  }

  .candle-flame{
    bottom: 105px;
  }

  .carta {
    transform: scale(0.7);
  }
}